name: Mirror to Codeberg

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Push to Codeberg
        run: |
          git remote add codeberg https://oauth2:${{ secrets.CODEBERG_TOKEN }}@codeberg.org/Parsast/ReLGL-Android-Menu.git
          git push -u origin codeberg
